version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./uploads:/app/uploads
      - ./resized:/app/resized
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "4173:4173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:5000


  nginx:
    image: nginx:alpine
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend

  minio:
    image: minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_NOTIFY_AMQP_ENABLE_1: "on"
      MINIO_NOTIFY_AMQP_URL_1: "amqp://guest:guest@rabbitmq:5672/"
      MINIO_NOTIFY_AMQP_EXCHANGE_1: "minio-events"
      MINIO_NOTIFY_AMQP_ROUTING_KEY_1: "minio.uploaded"
      MINIO_NOTIFY_AMQP_EXCHANGE_TYPE_1: "fanout"
      MINIO_NOTIFY_AMQP_DURABLE_1: "on"
      MINIO_NOTIFY_AMQP_USERNAME_1: "guest"
      MINIO_NOTIFY_AMQP_PASSWORD_1: "guest"
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  image-processor:
    build:
      context: .
      dockerfile: image_processor.Dockerfile
    depends_on:
      - rabbitmq
      - minio
    volumes:
      - ./uploads:/app/uploads
      - ./resized:/app/resized
    environment:
      - RABBITMQ_HOST=rabbitmq
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin

volumes:
  minio_data:
